html, body {
    background-color: #BC3B69;
    height: 100%;
    font-family: Roboto;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    font-size: 120px;
    color: white;
    text-align: center;
}