html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto';
    color: white;
    background-color: #141414;
}

h1 {
    font-size: 52px;
    margin-bottom: 40px;
}

h2 {
    margin-top: 60px;
    text-align: center;
}

.image-container {
    position: relative;
    max-height: 700px;
    height: 50vw;
    background: black
}

.inner-image-container {
    position: relative;
    height: 100%;
    right: 0;
    float: right;
}

#serie-img {
    display: block;
    top: 0;
    right: 0;
    height: 100%;
}

.inner-image-container::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg,#000 0,transparent 50%,transparent);
    right: 0;
    top: 0;
}

.serie-info {
    position: absolute;
    z-index: 1;
    transform: translateY(-60%);
    top: 60%;
    max-width: 400px;
    left: 50px;
}

#poster {
    height: 100%;
}

.info {
    padding: 40px;
}

.inner-info {
    height: 520px;
    overflow-y: auto;
}

#title {
    font-size: 44px;
    margin-bottom: 60px;
    clear: both;
}

p {
    margin-bottom: 50px;
}
form{
    position: fixed;
    right: 40px;
    bottom: 20px;
    transition: all .2s ease-in-out;
    width: 50px;
    height: 50px;
    background: #BC3B69;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #BC3B69;
    padding: 5px;
    margin-bottom: 20px;
    z-index: 3;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    background: #BC3B69;
    color: white;
}

.fa{
    box-sizing: border-box;
    width: 42.5px;
    height: 42.5px;
    line-height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 1.2em;
    transition: all .3s ease-in;
}

form:hover, form:focus{
    width: 300px;
    cursor: pointer;
    box-shadow: -1px 5px 9px 0px rgba(0,0,0,0.3);
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #BC3B69;
    color: white;
}


.inner-info::-webkit-scrollbar-track
{
    display: none;
	border-radius: 10px;
	background-color: xrgba(245, 245, 245, 0.342);
}

.inner-info::-webkit-scrollbar
{
    display: none;
	width: 12px;
	background-color: rgba(245, 245, 245, 0.452);
}

.inner-info::-webkit-scrollbar-thumb
{
    display: none;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0, 0, 0, 0.383);
}

#seasons {
    padding: .8rem 3.5rem .8rem 1.5rem;
    font-size: 1.3rem;
    color: #fff;
    background: #202124 url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat 100% 45%;
    background-size: 30px 60px;
    border-color: #202124;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin-left: 20px;
}

#episodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 80px;
}

.episode {
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 500px;
}

.episode-img {
    width: 100%;
    height: 281px;
    
}